
#new1{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}

#news2{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}
#news3{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}
#news4{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}
#news5{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}
#news6{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}
#news7{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}
#news8{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}
#news9{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}
#news10{
    padding-left: 50px;
    padding-top:30px;
    padding-bottom: 40px;
    padding-right:50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:50px black solid;
    background-color: rgb(159, 162, 168);
}